body {
    margin: 0;
    padding: 0;
  }
  .navbar {
    display: flex;
    background-color: #21283D;
    
    
  }
  .logo {
    width: 35px;
    height: 35px;
    display: flex;
    padding: 10px;
    
  }
  
  .menu {
    display: grid;
    grid-template-columns: 16% auto;
    height: 1000px;
  }
  .menu-items {
  
    padding: 1px;
    background: #21283D;
    text-align: center;
  }
  .menu-items ul {
    text-align: left;
    list-style: none;
  }
  .menu-items ul li a {
    text-decoration: none;
    color: #fff;
  }